* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	color: #e9dfcd;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #614e1a;
}

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
}

#header {
	max-width: fit-content;
	margin: 30px;
	font-size: 50px;
	font-weight: 600;
}

#the_show {
	display: flex;
	margin: 30px;
	font-size: 50px;
	font-weight: 600;
	max-width: 900px;
	padding-right: 30px;
}

#results {
	width: 387px;
	display: flex;
}

#sep {
	height: 100%;
	border: 2px #e9dfcd solid;
}

#robotchoice,
#humanchoice {
	width: 192px;
	text-align: center;
}


#results > i {
	padding-top: 10px;
}

#choices {
	display: flex;
	justify-content: space-around;
	max-width: 400px;
	width: 100%;
	margin: 30px;
}

#choices > .choice {
	font-size: 50px;
	height: 80px;
	width: 80px;
	background-color: transparent;
	border: 5px #e9dfcd solid;
	border-radius: 50%;
	cursor: pointer;
}

#replay {
	font-size: 40px;
	padding: 4px 10px;
	background-color: transparent;
	border: 5px #e9dfcd solid;
	border-radius: 40px;
	cursor: pointer;
	margin-top: 13px;
}
